---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="NeoDigital">
	<section class="bg-zinc-950 h-screen">
		<div class="container max-w-screen-xl mx-auto px-4 py-8 lg:px-6 lg:py-8">
			<div class="grid grid-cols-1 gap-8 lg:grid-cols-2 py-36 items-center">
				<div class="flex flex-col">
					<h1 class="text-sm text-zinc-50/90 pb-2">Las mejores soluciones fintech que existen en el mercado</h1>
					<p class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text font-extrabold text-transparent text-5xl">
						Si lo puedes imaginar.
						<span class="sm:block">Lo podemos programar. </span>
					</p>
				</div>
				
				<!-- Deberia ser mas grande y animada -->
				<img src="/public/code-illustration.png" alt="example" class="shadow-xl shadow-zinc-50/10">
				
			</div>
		</div>
	</section>
	
	
</Layout>

